@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap")

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body{
    min-height: 100vh;
    background: url('background.png') no-repeat;
    background-size: cover;
    background-position: center
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  widht: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100%;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    backdrop-filter: blur(50px);
    background-color: rgba(0, 0, 0, 0.45);
    border: 0.2px solid rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    height: 40px;
}
